$main-color: #E27866; // main color #E27866

$green-color: #41D395; // main color #41D395

$white-text-color: #FFFFFF; // main color #FFFFFF

$header-footer-bg-color: #1C1C1C; // main color #1C1C1C

$mainpage-bg: url("../resources/photo-1480714378408-67cf0d13bc1b.png"); // main url(/resources/photo-1480714378408-67cf0d13bc1b.png)
$mainpage-bg-gradient-color: #1C1C1C; // main color #1C1C1C


$social-bg-color: #FFFFFF; // main color #FFFFFF

$tabs-color: #A37169; // main color #A37169
$tabs-bg: url(../resources/christoffer-engstrom-503481-unsplash.png); // main url(/resources/christoffer-engstrom-503481-unsplash.png)
$tabs-bg-gradient-color: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box; // main color transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box

$black-bg-color: #1C1C1C; // main color #1C1C1C

$icons-bg-color: #FFFFFF; // main color #FFFFFF

$prising-color: #41D395; // main color #41D395
$prising-bg-color: #6696E2; // main color #6696E2

$cutomers-color: #6696E2; // main color #6696E2
$cutomers-bg-color: #FFFFFF; // main color #FFFFFF

$contacts-bg-color: #E27866; // main color #E27866



$cutomer-1: url("../resources/avatar_2_u231.png"); 
$cutomer-2: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 
$cutomer-3: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 
$cutomer-4: url("https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"); 
$cutomer-5: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); 
$cutomer-6: url("https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 
$cutomer-7: url("https://images.unsplash.com/photo-1544348817-5f2cf14b88c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 
$cutomer-8: url("https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); 
$cutomer-9: url("https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"); 
$cutomer-10: url("https://images.unsplash.com/photo-1573600073955-f15b3b6caab7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80"); 
$cutomer-11: url("https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 
$cutomer-12: url("https://images.unsplash.com/photo-1587397845856-e6cf49176c70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); 


